
 {% extends 'accounts/main.html' %}


 {% block content %}
    <div class="container h-100 mt-5">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <h2 id="form-title">PASSWORD RESET!</h2>
          </div>

          <div class="d-flex justify-content-center">
            <p class="lead">
              Forgotten your password? Enter your email address below, and we’ll
              email instructions for setting a new one.
            </p>
          </div>
          <div class="d-flex justify-content-center form_container">
            <!-- form start -->
            <form method="post" action="">
              {% csrf_token %} {{form.as_p}}
              <input class="btn btn-info" type="Submit" name="Send email" />
            </form>
            <!-- form end -->
          </div>

          <!-- Form Errors -->
          {{form.errors}}

          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Know your password?
              <a  href="{% url 'login' %}" class="login-link ml-2">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  {% endblock %}